header {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(55, 55, 55);
  backdrop-filter: blur(25px);
}


.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand h2 {
  font-weight: bold !important;
  background: #90caf9;
  background: linear-gradient(to right, #90caf9 0%, #5b9dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-list {
  display: inline-flex;
  list-style: none;
}

.nav-list-items .nav-links {
  text-align: center;
  text-decoration: none;
  color: var(--gray-text);
  padding: 10px;
  margin: 0 8px;
}

.nav-list-items .nav-links:hover,
.nav-list-items .nav-links.active {
  color: #ffff;
  border-bottom: 2px solid rgb(13, 128, 216);
}

@media only screen and(max-width:768px){
 
}
