:root{
  --dark-blue:rgb(10, 25, 41);
  --gray-text:rgb(205, 205, 205);
  --primary-color: #007FFF;
  --primary-active-color: #0072E5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-blue);
}

h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
  padding: 0;
}
